lab_2/WorkWithCSV/FileTest1.java
lab_2/WorkWithCSV/FileTest2.java
lab_2/WorkWithCSV/FileTest3.java
lab_2/WorkWithCSV/RegEx1.java
lab_2/WorkWithCSV/output.csv
lab_2/WorkWithCSV/output2.csv
.idea/
ASDC.iml
out/
animal.jpg